@use "./reset.scss";
@use "./colors.scss";
@use "./texts.scss";
@use "./grid-system.scss";
@use "./fonts.scss";

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Candal&display=swap");

html {
	scroll-snap-type: y mandatory;
	scroll-behavior: smooth;

	background-color: colors.$color-white-background;
	font-family: "Montserrat, Candal";

	overflow-x: hidden;
}

main {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}
